body{
	background-image: url(images/background.png);
}

header{
	margin-top: 35px;
	margin-bottom: 35px;
	font-family: Agency FB;
	font-size: 30px;
	text-align: center;
	color: white;
	letter-spacing: 3px;
	text-shadow: 2px 2px 5px #8c83ff;

	src: local("fonts/AGENCYR.ttf") url("fonts/AGENCYR.ttf")
		format("truetype"); 
}

	header a {
		text-decoration: none;
		color: white;
	}
	
	header a:hover {
		text-decoration: none;
	}

nav{
	margin-top: 35px; 
	width: 238px;
	float: left;
}

nav ul{
	font-family: Agency FB;
	font-weight: 600;
	font-size: 28px;
	color: #FFF;
	list-style: none;
	letter-spacing: 1px;
	text-shadow: 2px 2px 5px #8c83ff;
	
	src: local("fonts/AGENCYR.ttf") url("fonts/AGENCYR.ttf")
		format("truetype"); 
}

nav ul li{
	line-height: 83px;
}

nav ul li a{
	text-decoration: none;
	color: #FFF;
	display: block;
	margin-left: 48px;
}

nav ul li a:hover{
		text-shadow: 3px 3px 6px #7065ff;
		}
		
aside#right{
	margin-top: 35px; 
	width: 238px;
	float: right;
}

#right h2{
	font-family: Agency FB;
	font-size: 30px;
	text-align: right;
	margin-right: 55px; 
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 5px #8c83ff;

	src: local("fonts/AGENCYR.ttf") url("fonts/AGENCYR.ttf")
		format("truetype"); 
}

#right ul{
	list-style: none;
}

#right ul li a{
	display: block;
	margin-left: 50px;
}

#right ul li a:hover{
		filter: drop-shadow(1px 1px 2px #7065ff);
		}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* Slideshow container */
.slideshow-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.slideshow-container .mySlides img {
  width: 1000px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-left: 200px;
  padding: 16px;
  color: #7a5bd0;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-right: 200px;
  padding: 16px;
  color: #7a5bd0;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
  opacity: 75%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

footer{
	width: 100%;
	height: 35px;
	clear: both;
	
	font-family: CENTURY GOTHIC;
	font-size: 13px;
	text-align: right;
	color: #a78fea;
	letter-spacing: 1px;

	src: local("fonts/CENTURY GOTHIC.ttf") url("fonts/CENTURY GOTHIC.ttf")
		format("truetype"); 
}

#youtube-icon{
	float: left;
	margin-left: 5px;
}

#youtube-icon:hover{
	 filter: brightness(120%); 
}

#asked-icon{
	float: left;
	margin-left: 10px;
}

#asked-icon:hover{
	 filter: brightness(120%); 
}
